<!DOCTYPE html>
<html>
  <head>
    <base href="/">
    <link rel="stylesheet" href="/public/lib/bootstrap/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="/../css/judge.css">
    <title>judgePage</title>
    
  </head>
  <body ng-app="hackathonJudge">

    <uib-tabset active="active">
      <uib-tab index="0" heading="Category 1">
        <section>
          <div class="page-header">
            <h1>Projects</h1>
          </div>
          <uib-accordion class="panel-default">
            <div uib-accordion-group heading="{{project.name}}" ng-repeat="project in vm.projects">
              <div class="row">
                <div class="col-sm-4">
                  <a href="google.com">link</a><br/>
                  <ins>Description:</ins><br />
                  {{project.description}}
                </div>
                <div class="col-sm-5">
                  <div class="form-group">
                    <label for="comment">Notes:</label>
                    <textarea class="form-control" rows="5" id="comment" placeholder="Take notes about the project here!"></textarea>
                  </div>
                </div>
                <div class="col-sm-3">  <!-- TODO: Get criteria from database  -->
                  <div class="criteria">
                    <label> Criteria 1 </label>   
                    <select>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                    </select>
                  </div>
                  <div class="criteria">
                    <label> Criteria 2 </label>
                    <select>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                    </select>
                  </div>
                  <div class="criteria">
                    <label> Criteria 3 </label>
                    <select>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                    </select>
                  </div>
                  <div class="criteria">
                    <label> Criteria 4 </label>
                    <select>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </uib-accordion>
          <div class="alert alert-warning text-center" ng-if="vm.projects.$resolved && !vm.projects.length">
            No Projects yet, why don't you <a ui-sref="projects.create">create one</a>?
          </div>
        </section>
      </uib-tab>
      <uib-tab index="1" heading="Category 2">
        <section>
          <div class="page-header">
              <h1>Category 2 is showing same thing as 1</h1>
          </div>
              <uib-accordion class="panel-default"> <!-- TODO: query based on category -->
                <div uib-accordion-group heading="{{project.name}}" ng-repeat="project in vm.projects">
                  <div class="row">
                    <div class="col-sm-4">
                      <a href="google.com">link</a><br/>
                      <ins>Description:</ins><br />
                      {{project.description}}
                    </div>
                    <div class="col-sm-5">
                      <div class="form-group">
                        <label for="comment">Notes:</label>
                        <textarea class="form-control" rows="5" id="comment" placeholder="Take notes about the project here!"></textarea>
                      </div>
                    </div>
                    <div class="col-sm-3">  <!-- TODO: Get criteria from database  -->
                      <div class="criteria">
                        <label> Criteria 1 </label>   
                        <select>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                        </select>
                      </div>
                      <div class="criteria">
                        <label> Criteria 2 </label>
                        <select>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                        </select>
                      </div>
                      <div class="criteria">
                        <label> Criteria 3 </label>
                        <select>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                        </select>
                      </div>
                      <div class="criteria">
                        <label> Criteria 4 </label>
                        <select>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                        </select>
                      </div>
                    </div>
                    </div>
                </div>
              </uib-accordion>
        </section>
      </uib-tab>
      <uib-tab index="2" heading="Category 3">
        <section>
          <div class="page-header">
              <h1>Category 3 is showing same thing as 1</h1>
          </div>
          <uib-accordion class="panel-default"> <!-- query based on category -->
            <div uib-accordion-group heading="{{project.name}}" ng-repeat="project in vm.projects">
              <div class="row">
                <div class="col-sm-4">
                  <a href="google.com">link</a><br/>
                  <ins>Description:</ins><br />
                  {{project.description}}
                </div>
                <div class="col-sm-5">
                  <div class="form-group">
                    <label for="comment">Notes:</label>
                    <textarea class="form-control" rows="5" id="comment" placeholder="Take notes about the project here!"></textarea>
                  </div>
                </div>
                <div class="col-sm-3">  <!-- TODO: Get criteria from database  -->
                  <div class="criteria">
                    <label> Criteria 1 </label>   
                    <select>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                    </select>
                  </div>
                  <div class="criteria">
                    <label> Criteria 2 </label>
                    <select>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                    </select>
                  </div>
                  <div class="criteria">
                    <label> Criteria 3 </label>
                    <select>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                    </select>
                  </div>
                  <div class="criteria">
                    <label> Criteria 4 </label>
                    <select>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                    </select>
                  </div>
                </div>
                </div>
            </div>
          </uib-accordion>
        </section>
      </uib-tab>
      <uib-tab index="3" heading="Category 4">
        <section>
          <div class="page-header">
              <h1>Category 4 is showing same thing as 1</h1>
          </div>
          <uib-accordion class="panel-default"> <!-- query based on category -->
            <div uib-accordion-group heading="{{project.name}}" ng-repeat="project in vm.projects">
              <div class="row">
                <div class="col-sm-4">
                  <a href="google.com">link</a><br/>
                  <ins>Description:</ins><br />
                  {{project.description}}
                </div>
                <div class="col-sm-5">
                  <div class="form-group">
                    <label for="comment">Notes:</label>
                    <textarea class="form-control" rows="5" id="comment" placeholder="Take notes about the project here!"></textarea>
                  </div>
                </div>
                <div class="col-sm-3">  <!-- TODO: Get criteria from database  -->
                  <div class="criteria">
                    <label> Criteria 1 </label>   
                    <select>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                    </select>
                  </div>
                  <div class="criteria">
                    <label> Criteria 2 </label>
                    <select>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                    </select>
                  </div>
                  <div class="criteria">
                    <label> Criteria 3 </label>
                    <select>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                    </select>
                  </div>
                  <div class="criteria">
                    <label> Criteria 4 </label>
                    <select>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                    </select>
                  </div>
                </div>
                </div>
            </div>
          </uib-accordion>
        </section>
      </uib-tab>
    </uib-tabset>
    <script src="/modules/core/client/app/judge.js"></script>
  </body>
</html>
