<!DOCTYPE html>
<html>
  <head>
    <base href="/">
    <link rel="stylesheet" href="/public/lib/bootstrap/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="/../css/judge.css">
    <title>judgePage</title>

  </head>
  <body>

    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="#cat1">Category 1</a></li>
      <li role="presentation"><a href="#cat2">Category 2</a></li>
      <li role="presentation"><a href="#cat3">Category 3</a></li>
      <li role="presentation"><a href="#cat4">Category 4</a></li>
    </ul>
    <a ui-sref="projects.create"> Create </a>
    <section ng-app="projects">
      <div class="page-header">
        <h1>Projects</h1>
      </div>
      <uib-accordion>
        <div uib-accordion-group class="panel-default" heading="{{project.name}}" ng-repeat="project in vm.projects">
          {{project.description}}
        </div>
      </uib-accordion>
      <div class="alert alert-warning text-center" ng-if="vm.projects.$resolved && !vm.projects.length">
        No Projects yet, why don't you <a ui-sref="projects.create">create one</a>?
      </div>
    </section>
  </body>
</html>
