<!DOCTYPE html>
<html>
  <head>
    <base href="/">
    <link rel="stylesheet" href="/public/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/../css/signin.css">
    <title>adminSignOn</title>

  </head>
  <body ng-app="hackathonJudge">
    <div class = "titleContainer">
      <div class = "row">
          <h1>Hackathon Judge</h1>
      </div>
    </div>
    <div class = "signInContainer">
      <form class="form-signin">
        <h2 class="form-signin-heading">Welcome Joe,</h2>
        <div class = "ID">
          <label for="inputID" class="sr-only">Employee ID</label>
        </div>
        <input type="ID" id="inputID" class="form-control" placeholder="ID" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
  </div>
  </body>
</html>
