<!DOCTYPE html>
<html>
  <head>
    <base href="/">
    <link rel="stylesheet" href="/public/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/../css/judge.css">
    <title>judgePage</title>

  </head>
  <body ng-app="hackathonJudge">
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="#">Category 1</a></li>
      <li role="presentation"><a href="#">Category 2</a></li>
      <li role="presentation"><a href="#">Category 3</a></li>
      <li role="presentation"><a href="#">Category 4</a></li>
    </ul>

  </body>


</html>
