/*button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}*/

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
/*button.accordion.active, button.accordion:hover {
    background-color: #ccc;
}

 /*Style the accordion panel. Note: hidden by default */
/*div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
}*/
body{
background-color: white;
color: #003B5C;
font-family: Arial;
}
.hackathons-list-buttons {
    margin: auto;
    width: 30%;
}
/*Button Two*/
.button-two {
    text-align: center;
    cursor: pointer;
    font-size:20px;
    margin: 0 auto;
    border-radius: 4px;
    background-color:#1a57ca;
    border: none;
    padding: 20px;
    width: 100%;
    transition: all 0.5s;
}
.button-two span {
    color: white;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button-two span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button-two:hover span {
    padding-right: 25px;
}

.button-two:hover span:after {
    opacity: 1;
    right: 0;
}

textarea {
    resize: vertical;
}
.criteria {
    vertical-align: middle;
    height: 50px;
}
.panel-default {
  background-color: blue;
  color: red;
}

.hackathons-list-active {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: lightgreen; 
}
.hackathons-list-inactive {
    background: lightcoral;
}