<section>
  <div class="page-header">
    <h1>Hackathon List</h1>
  </div>
  <a ui-sref="hackathons.create">Create Hackathon</a>
  <a ui-sref="hackathons.projectList">List Projects</a>
  <h3>Active Hackathons</h3>
  <div class="list-group">
    <a ng-repeat="hackathon in vm.hackathons | filter:true:hackathon.active" ui-sref="hackathons.view({ hackathonId: hackathon._id })" class="list-group-item">
      <h4 class="list-group-item-heading" ng-bind="hackathon.name"></h4>
      Description: {{ hackathon.description}}
    </a>
  </div>
  <h3>Inactive Hackathons</h3>
  <div class="list-group">
    <a ng-repeat="hackathon in vm.hackathons | filter:false:hackathon.active" ui-sref="hackathons.view({ hackathonId: hackathon._id })" class="list-group-item">
      <h4 class="list-group-item-heading" ng-bind="hackathon.name"></h4>
      Description: {{ hackathon.description}} 
    </a>
  </div>
</section>