<!DOCTYPE html>
<html>
  <head>
    <base href="/">
    <link rel="stylesheet" href="/public/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/../css/judge.css">
    <title>judgePage</title>

  </head>
  <body>
    <div ng-repeat="hackathon in vm.hackathons | filter:true:hackathon.active">
      <h1> {{hackathon.name}} </h1>
      <uib-tabset active="active">
        <uib-tab index="$index" heading="{{cat.name}}" ng-repeat="cat in hackathon.category">
          <section>
            <uib-accordion class="panel-default">
              <div uib-accordion-group heading="{{project.name}}" ng-repeat="project in cat.project">
                <form ng-submit="vm.saveVote(project.name)">
                <div class="row">
                  <div class="col-sm-4">
                    <a href="{{project.link}}">Project Link</a><br/><br>
                    <ins>Description:</ins><br/>
                    {{project.description}}
                  </div>
                  <div class="col-sm-5">
                    <div class="form-group">
                      <label for="comment">Notes:</label>
                      <textarea ng-model="project.note" class="form-control" rows="5" id="comment" placeholder="Take notes about the {{project.name}} project here!"></textarea>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div ng-repeat="criteria in cat.criteria">
                      <label>{{criteria.name}}</label>
                      <select ng-if="criteria.input_type == 'scale'" id="tempVote[$index]" name="tempVote[$index]" ng-model="vm.tempVote[$index]" ng-options="x for x in vm.scaleArray[{{criteria.high_num-1}}]">{{x}}</select>
                      <input ng-if="criteria.input_type == 'custom'" id="tempVote[$index]" name="tempVote[$index]" type="number" min="0" max="{{criteria.high_num}}" ng-model="vm.tempVote[$index]"></input>
                      <br><br>
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
              </div>
            </uib-accordion>
          </section>
        </uib-tab>
      </uib-tabset>
    </div>
  </body>
</html>
