<section>
  <div class="page-header">
    <h1>Hackathons</h1>
  </div>
  <a ui-sref="hackathons.create">Create Hackathon</a>
  <div class="list-group">
    <a ng-repeat="hackathon in vm.hackathons"
       ui-sref="hackathons.view({ hackathonId: hackathon._id })"
       class="list-group-item">
      <h4 class="list-group-item-heading" ng-bind="hackathon.name"></h4>
      Active: {{ hackathon.active }} <br>
      Description: {{ hackathon.description}}
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.hackathons.$resolved && !vm.hackathons.length">
    No Hackathons yet, why don't you <a ui-sref="hackathons.create">create one</a>?
  </div>
</section>
