<section>
  <div class="page-header">
		<a type="button" class="btn btn-primary" style="background:#509e2f" ui-sref="hackathons.view({ hackathonId: vm.hackathon._id })">
			<i class="glyphicon glyphicon-arrow-left"></i>
			&nbsp; Back to {{vm.hackathon.name}}
		</a><br>
		<center><img src="modules/hackathons/client/img/view_votes.png"></center>
  </div>
  <div ng-repeat="category in vm.hackathon.category track by $index">
		<h2>{{ category.name }}</h2>
		<div ng-repeat="project in category.project track by $index">
			<h3>{{ project.name }}</h3>
			<div ng-repeat="note in project.note track by $index">
				Notes: {{ note.text }} <br>
				<div ng-repeat="vote in note.vote track by $index">
					{{ vote.criteria_name }} - {{ vote.number }} <br>
				</div>
				<br>
			</div>
			<br>
		</div>
  </div>
</section>