<section>
  <div class="page-header">
    <a ui-sref="hackathons.list">Back to Hackathons List</a> <br>
    <h1 ng-bind="vm.hackathon.name"></h1>
    {{vm.hackathon.active ? 'Active' : 'Inactive'}} Hackathon <br>
  </div>
  <div class="pull-right">
    <a class="btn btn-primary"
       ui-sref="hackathons.edit({ hackathonId: vm.hackathon._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  Description: {{ vm.hackathon.description }} <br> <br>
  <a ui-sref="hackathons.results({ hackathonId: vm.hackathon._id })">View Results</a><br>
  <a ui-sref="hackathons.view_votes({ hackathonId: vm.hackathon._id })">View Votes</a> <br><br>

  Generate Link <br>
  Link: {{ vm.hackathon.link ? vm.hackathon.link : 'Unavailable' }} <br><br>
  Email links to judges <br>
  <input name="csvFile" type="file">

  <hr>
  <h2>Modification Section</h2>
  <a ui-sref="hackathons.edit({ hackathonId: vm.hackathon._id })">Edit Hackathon</a> <br><br>

  <div ng-repeat="category in vm.hackathon.category">
    <a ui-sref="hackathons.edit_cat({ hackathonId: vm.hackathon._id, cat: $index})">Edit {{category.name}} Category</a> <br>
  </div>

  <div>
    <br>
    <a type="button" class="btn btn-primary" style="background: green" ng-click="vm.addCategoryToHackathon(true)">Add a Category <span class="glyphicon glyphicon-plus-sign"></span></a>
  </div>

  <p class="lead" ng-bind="vm.hackathon.content"></p>
</section>
