<section>
  <div class="page-header">
    <a type="button" class="btn btn-primary" style="background:#509e2f" ui-sref="hackathons.list">
      <i class="glyphicon glyphicon-home"></i>
      &nbsp; Back to Hackathons list
    </a>
    <br>
    <center><h1 ng-bind="vm.hackathon.name"></h1></center>
    <b>{{vm.hackathon.active ? 'Active' : 'Inactive'}} Hackathon </b><br>
    {{ vm.hackathon.date ? vm.hackathon.string_date : 'Date not set'}}
  </div> 
  <div class="col-md-6">
      <img src="modules/hackathons/client/img/description.png">
      <p style="color:#509e2f" class="enlarge">{{ vm.hackathon.description }}</p><br>
      <a type="button" class="btn btn-primary" style="background: #115E67"
        ui-sref="hackathons.results({ hackathonId: vm.hackathon._id })"> 
        <i class="glyphicon glyphicon-signal"></i>
        &nbsp; View Results  
      </a>
      &nbsp;&nbsp;
      <a type="button" class="btn btn-primary" style="background: #003B5C"
        ui-sref="hackathons.view_votes({ hackathonId: vm.hackathon._id })"> 
        <i class="glyphicon glyphicon-list-alt"></i>
        &nbsp;View Votes
      </a> <br><br>
      <b>Upload CSV File of Judges' Emails</b>
      <input type="file" fileread="vm.csvfile" accept=".csv">
      <br>  
      <a type="button" class="btn btn-primary" style="background: #115E67" ng-click="vm.send()">
        <i class="glyphicon glyphicon-envelope"></i>
        &nbsp; Send Emails
      </a>
      &nbsp;&nbsp;&nbsp;
      <a type="button" class="btn btn-primary" ng-click="vm.resend()" style="background:#003B5C">
        <i class="glyphicon glyphicon-share"></i>
        &nbsp;Resend Emails</a>
        
  </div>
  <div class="col-md-6">
    <img src="modules/hackathons/client/img/modification.png"><br><br>
    <div class="pull-right">
      <div class="justify-right">
        <a class="btn btn-primary" style="background: #115E67" 
          ui-sref="hackathons.edit({ hackathonId: vm.hackathon._id })">Edit Hackathon
          &nbsp;
          <i class="glyphicon glyphicon-edit"></i>
        </a><br><br>
        <a class="btn btn-primary btn-danger" ng-click="vm.remove()">Delete Hackathon
          &nbsp;
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </div>
    </div>
    <div ng-repeat="category in vm.hackathon.category">
      <a ui-sref="hackathons.edit_cat({ hackathonId: vm.hackathon._id, cat: $index})">Edit {{category.name}} Category</a>
      <br>
    </div>

    <div>
      <br>
      <a type="button" class="btn btn-primary" style="background: #115E67" ng-click="vm.addCategoryToHackathon(true)">Add a Category
        &nbsp;
        <span class="glyphicon glyphicon-plus-sign"></span>
      </a>
    </div>
  </div>

  <p class="lead" ng-bind="vm.hackathon.content"></p>
</section>